@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */

@font-face {
    font-family: EconSansBol;
    src: url(../fonts/econsans/EconSansBol.otf),
       url(../fonts/econsans/EconSansBol.ttf),
       url(../fonts/econsans/EconSansBol.eot),
       url(../fonts/econsans/EconSansBol.svg),
       url(../fonts/econsans/EconSansBol.woff);
  }

  @font-face {
    font-family: EconSansCnd-Light;
    src: url(../fonts/econsans/EconSansCnd-Light.otf),
       url(../fonts/econsans/EconSansCnd-Light.ttf),
       url(../fonts/econsans/EconSansCnd-Light.eot),
       url(../fonts/econsans/EconSansCnd-Light.svg),
       url(../fonts/econsans/EconSansCnd-Light.woff);
  }

  @font-face {
    font-family: EconSansOS-Light;
    src: url(../fonts/econsans/EconSansOS-Light.otf),
       url(../fonts/econsans/EconSansOS-Light.ttf),
       url(../fonts/econsans/EconSansOS-Light.eot),
       url(../fonts/econsans/EconSansOS-Light.svg),
       url(../fonts/econsans/EconSansOS-Light.woff);
  }

  @font-face {
    font-family: EconSansXBol;
    src: url(../fonts/econsans/EconSansXBol.otf),
       url(../fonts/econsans/EconSansXBol.ttf),
       url(../fonts/econsans/EconSansXBol.eot),
       url(../fonts/econsans/EconSansXBol.svg),
       url(../fonts/econsans/EconSansXBol.woff);
  }

  @font-face {
    font-family: EconSansReg;
    src: url(../fonts/econsans/EconSansReg.otf),
       url(../fonts/econsans/EconSansReg.ttf),
       url(../fonts/econsans/EconSansReg.eot),
       url(../fonts/econsans/EconSansReg.svg),
       url(../fonts/econsans/EconSansReg.woff);
  }

  @font-face {
    font-family: EconSansLig;
    src: url(../fonts/econsans/EconSansLig.otf),
       url(../fonts/econsans/EconSansLig.ttf),
       url(../fonts/econsans/EconSansLig.eot),
       url(../fonts/econsans/EconSansLig.svg),
       url(../fonts/econsans/EconSansLig.woff);
  }

  @font-face {
    font-family: EconSansMed;
    src: url(../fonts/econsans/EconSansMed.otf),
       url(../fonts/econsans/EconSansMed.ttf),
       url(../fonts/econsans/EconSansMed.eot),
       url(../fonts/econsans/EconSansMed.svg),
       url(../fonts/econsans/EconSansMed.woff);
  }


* { box-sizing: border-box; } 

a {
  color: #111;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.2s;
}

img { display: block; }

ul li { list-style: none; }

.uppercase { text-transform: uppercase; }

.capitalize { text-transform: capitalize; }

.wrapper {
  width: 86%;
  max-width: 1440px;
  margin: 0 auto;
}

 body {
  font-family: EconSansReg!important;
  line-height: normal;
 }

h1,h2,h3,h5 { color: #39393a; }


 h3 {
   margin-bottom: 16px;
   font-family: EconSansReg;
   font-size: 60px;
   line-height: 64px;
   text-transform: uppercase; 
 }

.common-text-style {
  color: #39393a;
  font-family: EconSansReg;
  font-size: 24px;
  line-height: 28px;
}

.infographic-content-section .wrapper {
  padding-top: 34px;
  position: relative;
}

.infographic-content-section .wrapper:after {
  content: "";
  padding: 4px 0;
  width: 4.6%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #39393a;
}

/*==========================================================================
  Header section starts here
============================================================================*/

.page-header { margin-top: 80px; }

.page-header h1 { 
  font-size: 20px; 
  text-align: left;
}

.page-header h1 span { display: block; }

.page-header h1 a { display: inline-block; }

.page-header h1 img {
  width: 90%;
  height: 70px;
  margin-top: 20px;
}

/*==========================================================================
  Header section ends here
============================================================================*/



/*==========================================================================
  Banner section starts here
============================================================================*/

.banner {
  padding-top: 40px;
  margin-top: 40px; 
}


.banner-content {
  width: 57%;
  display: inline-block;
  vertical-align: top;
}

.banner-content .common-text-style { width: 80%; }

h2 {
  margin-bottom: 17px;
  line-height: 88px;
  font-size: 85px;
  font-family: EconSansReg;
  text-transform: uppercase;
}

.sub-text {
  margin-bottom: 31px;
  color: #1f5f76;
  font-family: EconSansReg;
  font-size: 40px;
  word-spacing: -3px;
}

.banner-image {
  width: 43%;
  padding-top: 19%;
  float: right;
  position: relative;
  overflow: hidden;
}

.banner-image img { width: 100%; }

.building { display: none; }

.lightning { 
  display: inline-block; 
  position: absolute;
  -webkit-animation: lightning 1s linear;
  -moz-animation:    lightning 1s linear;
  -o-animation:      lightning 1s linear;
  animation:         lightning 1s linear;
}

.lightning-left { 
  width: 15%;
  z-index: -1;
  top: 47%;
  left: 12%; 
}

.lightning-middle {
  width: 24%; 
  top: 0;
  left: 35%;
}

@keyframes lightning {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.lightning-right {
  width: 17%;
  top: 30%;
  right: 2%;
}

.electric-vehicle {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.car-to-left {
  width: 15%;
  right: 85%;
  -webkit-animation: car-left 2s infinite linear;
  -moz-animation:    car-left 2s infinite linear;
  -o-animation:      car-left 2s infinite linear;
  animation:         car-left 2s infinite linear;
}

@keyframes car-left {
  from { right: 0%; }
  to { right: 100%; }
}

.car-to-right {
  width: 20%;
  left: 20%;
  -webkit-animation: car-right 2s infinite linear;
  -moz-animation:    car-right 2s infinite linear;
  -o-animation:      car-right 2s infinite linear;
  animation:         car-right 2s infinite linear;
}

@keyframes car-right {
  from { left: 0; }
  to { left: 100%; }
}

.tempo-to-right {
  width: 22%;
  left: 65%;
  -webkit-animation: tempo-right 2s infinite linear;
  -moz-animation:    tempo-right 2s infinite linear;
  -o-animation:      tempo-right 2s infinite linear;
  animation:         tempo-right 2s infinite linear;
}

@keyframes tempo-right {
  from { left: 30%; }
  to { left: 130%; }
}

.electric-vehicle img { width: 100%; }

@media screen and (max-width: 995px) {
  
  .banner .wrapper { overflow-x: hidden; }

  .banner-content { width: 100%; }

  h2 { width: 76%; }

  .sub-text { width: 65%; }

  .banner-content .common-text-style { width: 43%; }

  .banner-image { 
    width: 100%; 
    margin-top: -86%;
    overflow: unset;
  }
  
  .building-big { display: none; }

  .building { 
    width: 50% !important; 
    display: block;
    float: right;
  }
  
  .lightning-left { 
    width: 10%; 
    top: 40.5%;
    left: 61%;
  }

  .lightning-middle {
    width: 15%; 
    top: -9%;
    right: 4%;
    left: unset;
  }

  .lightning-right { display: none; }

}

@media screen and (max-width: 767px) {

  .banner .wrapper { padding-top: 10px; }

  h2 {
    width: 221px; 
    font-size: 40px;
    line-height: 36px;
  }

  .sub-text { font-size: 26px; }

  .banner-content .common-text-style { 
    font-size: 18px; 
    line-height: 24px;
  }

  .banner-image { margin-top: -60%; }
}


/*==========================================================================
  Banner section ends here
============================================================================*/


/*==========================================================================
  Government section starts here
============================================================================*/

.government { margin-top: 63px; }

.government .wrapper { overflow: hidden; }

.government-description {
  width: calc(70% - 5px);
  display: inline-block;
  vertical-align: top;
}

.government-description .common-text-style { width: 91%; }

.hand-money-bank-image {
  width: calc(30% - 5px);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.hand-image {
  width: 60%;
  position: absolute;
  z-index: 1;
  top: -8%;
  right: 17px;
  -webkit-animation: hand-drop 2s infinite ease-in-out;
  -moz-animation:    hand-drop 2s infinite ease-in-out;
  -o-animation:      hand-drop 2s infinite ease-in-out;
  animation:         hand-drop 2s infinite ease-in-out;
}

@keyframes hand-drop {
  0% { 
    right: -200px; 
    transform:rotate(10deg);
  }
  80% { transform:rotate(10deg); }
  100% { 
    right: 18px; 
    transform:rotate(0);
  }
}

.hand-image img { width: 100%; }

.money-bank-image { 
  width: 50%;
  margin: 24.5% auto 0;
}

.money-bank-image img { width: 100% }

.government ul { margin-top: 41px; }

.government ul li {
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
  text-align: center; 
}

.government ul li:first-child { margin-left: 0; }

h4 {
  width: 86%;
  margin: 0 auto 15%;
  color: #1f5f76; 
  font-family: EconSansReg;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.government ul li:first-child h4 {
  width: 57%;
  padding-bottom: 23px;
  margin-bottom: 10%;
}

.government ul li:nth-child(2) h4 {
  width: 60%;
  padding-bottom: 27px;
  margin-bottom: 11%;
}

.government ul li:nth-child(3) h4 {
  width: 35%;
  margin-bottom: 28px;
}

.government ul li:last-child h4 { margin-bottom: 33px; }

.offering-stats img {
  margin: 0 auto;
}

.hybrid-cars .offering-stats img,
.hybrid-cars .border-line {
  width: 58%;
}

.electric-vehicles .offering-stats img,
.electric-vehicles .border-line {
  width: 75%;
}

.plugable-vans .offering-stats img,
.plugable-vans .border-line {
  width: 100%;
}

.charge-points .offering-stats img,
.charge-points .border-line {
  width: 100%;
}

.hybrid-cars { width: 23.33%; }

.electric-vehicles {
  width: 23.33%;
  transform: translateX(-20%);
}

.plugable-vans {
  width: 25.33%;
  transform: translateX(-18%);
}

.charge-points {
  width: 28%;
  transform: translateX(-5%);
}

.border-line {
  border-bottom: 1px solid #A71E34;
  margin: 0 auto;
}

.offering-image,
.offering-stats {
  width: 51%; 
  margin: 0 auto;
}

.offering-stats {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.offering-stats-wrapper {
  -webkit-animation: triangle-emerge 2s;
     -moz-animation: triangle-emerge 2s;
       -o-animation: triangle-emerge 2s;
          animation: triangle-emerge 2s;
}

.offering-stats-wrapper figure img { animation: triangle-emerge 4s; }

@keyframes triangle-emerge {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 500px;
  }
}

.offering-stats .figure {
  position: absolute; 
  top: 15px;
  left: 50%;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: showfigure 1.5s forwards;
     -moz-animation: showfigure 1.5s forwards;
       -o-animation: showfigure 1.5s forwards;
          animation: showfigure 1.5s forwards;
}

@keyframes showfigure {
  90% { opacity: 0; }
  100% { opacity: 1; }
}

.figure sup {
  margin-left: 3px;
  font-size: 14px;
}

.government ul li figure { position: relative; }


.wheel {
  width: 96% !important;
  margin-top: -13%;
  margin-left: 2.3%;
}

.offering-van { margin-top: -15%; }



.car {
  position: relative;
  z-index: -1;
/*  -webkit-animation: car .5s infinite linear;
  -moz-animation:    car .5s infinite linear;
  -o-animation:      car .5s infinite linear;
  animation:         car .5s infinite linear;*/
}

.electric_car_chargable {
  -webkit-animation: electric_car_chargable .5s infinite linear;
  -moz-animation:    electric_car_chargable .5s infinite linear;
  -o-animation:      electric_car_chargable .5s infinite linear;
  animation:         electric_car_chargable .5s infinite linear;
}


@keyframes electric_car_chargable {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2.4%); }
  100% { transform: translateY(0); }
}

.electric_car {
  -webkit-animation: car .5s infinite linear;
  -moz-animation:    car .5s infinite linear;
  -o-animation:      car .5s infinite linear;
  animation:         car .5s infinite linear;
}

@keyframes car {
  0% { transform: translateY(-2.5%); }
  50% { transform: translateY(0); }
  100% { transform: translateY(-2.5%); }
}

.van {
  -webkit-animation: van .5s infinite linear;
  -moz-animation:    van .5s infinite linear;
  -o-animation:      van .5s infinite linear;
  animation:         van .5s infinite linear;
}

@keyframes van {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5%); }
  100% { transform: translateY(0); }
}

.offering-image img,
.offering-stats img {
  width: 100%;
}

/*==========================================================================
  Government section ends here
============================================================================*/



/*==========================================================================
  Exhaust Emission section starts here
============================================================================*/

.exhaust-emission { margin-top: 65px; }

.exhaust-emission h3 { width: 40%; }

.ill-health {
  width: 44%;
  margin-right: calc(10% - 5px);
  display: inline-block;
  vertical-align: top;
}

.polution-stats {
  width: 46%;
  display: inline-block;
  vertical-align: top;
}

/*==========================================================================
  Exhaust Emission section ends here
============================================================================*/

/*==========================================================================
  save-costs section starts here
============================================================================*/

.progressbars { margin-top: 15px; }

.progressbar { background-color: #fff !important; }

.progressName,
.progressBlade {
  margin-left: -5px;
  display: inline-block;
  vertical-align: middle;
}

.progressBlade { width: 80%; }

.progressName {
  width: 20%;
  color: #096275;
  font-size: 22px;
  font-weight: 700;
}

.progressName sup { font-size: 12px; }

.percentCount {
  margin-top: 12px;
  margin-right: 15px;
  color: #fff;
  font-family: EconSansReg !important;
  font-size: 25px;
  font-weight: 500;
}

.save-costs { margin-top: 61px; }

.save-costs h3 { width: 50% }

.save-cost-description {
  width: 57.5%;
  margin-right: calc(12% - 5px);
  display: inline-block;
}

.save-cost-car-image {
  width: 30.5%; 
  display: inline-block; 
}

.save-cost-car-image li {
  width: 22%;
  display: inline-block;
}

.save-cost-car-image li:not(:last-child) { margin-right: calc(4% - 5px); }

.save-cost-car-image li figure img { width: 100% }


.dark-blue-car {
  -webkit-animation: dark-blue-car .5s infinite linear;
  -moz-animation:    dark-blue-car .5s infinite linear;
  -o-animation:      dark-blue-car .5s infinite linear;
  animation:         dark-blue-car .5s infinite linear;
}

@keyframes dark-blue-car {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5%);}
  100% { transform: translateY(0); }
}

.red-car {
  -webkit-animation: red-car .5s infinite linear;
  -moz-animation:    red-car .5s infinite linear;
  -o-animation:      red-car .5s infinite linear;
  animation:         red-car .5s infinite linear;
}

@keyframes red-car {
  0% { transform: translateY(-5%); }
  50% { transform: translateY(0);}
  100% { transform: translateY(-5%); }
}

.green-car {
  -webkit-animation: green-car .5s infinite linear;
  -moz-animation:    green-car .5s infinite linear;
  -o-animation:      green-car .5s infinite linear;
  animation:         green-car .5s infinite linear;
}

@keyframes green-car {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5%); }
  50% { transform: translateY(0);}
  50% { transform: translateY(-5%);}
  100% { transform: translateY(0); }
}

.blue-car {
  -webkit-animation: blue-car .5s infinite linear;
  -moz-animation:    blue-car .5s infinite linear;
  -o-animation:      blue-car .5s infinite linear;
  animation:         blue-car .5s infinite linear;
}

@keyframes blue-car {
  0% { transform: translateY(-5%); }
  25% { transform: translateY(0); }
  50% { transform: translateY(-5%);}
  50% { transform: translateY(0);}
  100% { transform: translateY(-5%); }
}

.dark-blue-wheel {
  width: 98% !important;
  margin: 0 auto;
}

.red-wheel {
  width: 94% !important;
  margin: 0 auto;
}

.car-green-blue { margin-bottom: -13%; }

.wheel-green-blue {
  width: 94% !important;
  margin: 0 auto;
}

/*==========================================================================
  save-costs section ends here
============================================================================*/

/* on the road section starts here */

.on-the-road {
  padding-bottom: 12%;
  margin-top: 64px;
  position: relative;
}

.on-the-road-content {
  position: relative;
  z-index: 1;
}

.on-the-road-info { width: 66%; }

.on-the-road ul { width: 36%; }

.on-the-road ul li {
  width: calc(75% - 5px);
  display: inline-block; 
}

.line-indicator-vehicle { margin-top: 42px; }

.line-indicator-vehicle li:first-child {
  width: 20%; 
  margin-right: 5%;
}

.line-indicator-vehicle li:first-child figure { width: 100%; }

.line-indicator-fuel { margin-top: 27px; }

.line-indicator-fuel li { vertical-align: top; }

.line-indicator-fuel li:first-child { width: 25%; }

.line-indicator-fuel li:last-child { margin-top: 8%; }

.line-indicator-fuel li:first-child figure {
  width: 60%; 
  margin: 0 auto;
}

.on-the-road ul li figure img { width: 100%; }

.on-the-road .charging-point-info {
  width: 24%;
  margin-top: 28px;
}

.on-the-road-graph {
  position: absolute;
  z-index: 0;
  top: 34px;
}

.on-the-road-graph .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  animation: reveal 3s forwards;
}

@keyframes reveal {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.on-the-road-graph img { width: 100%; }

/* Consumer Desire section starts here */

.consumer-desire { margin-top: 61px; }

.consumer-desire img { width: 100%; }

.desire-overview,
.desire-stats {
  width: 33.33%;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
}

.desire-overview { margin-left: 0; }

.desire-overview p { width: 85%; }

.desire-stats { padding: 0 3%; }

.desire-stats:last-child { padding: 0 1% 0 5%; }

.desire-stats .common-text-style {
  margin-top: 20px;
  font-size: 21px;
}

/* sources section starts here */

.sources {
  padding: 50px 0;
  margin-top: 50px; 
  background-color: #f6f5f6;
}

.sources h5 {
  margin-bottom: 6px;
  font-family: EconSansReg;
  font-size: 17px;
  text-transform: uppercase; 
}

.sources ol { 
  margin-left: 14px; 
  word-break: break-all;
}

.sources ol li {
  margin-bottom: 5px;
  color: #39393a; 
}

.sources ol li p { font-family: EconSansReg; }

/* air-poultion-graph */

#air-poultion-graph { overflow: unset; }
#air-poultion-graph rect { fill: #135863cf; }

#air-poultion-graph .value-text {
  fill: #000; 
  font: 24px sans-serif;
  text-anchor: end;
}

.year-text {
  fill: #989898;
  font: 20px sans-serif;
  text-anchor:start;
}

@media only screen and (max-width: 995px) {
  .polution-stats { width: 100%; }
}
/* Zero Exhaust Pipe Emissions */
.early-deaths-per-year{ position: relative;}
.cloud { display: inline-block; }

.half-round {
  width: 11%;
  position: absolute;
  top: 85%;
  left: -25%;
  -webkit-animation: half-round .5s linear forwards;
  -moz-animation:    half-round .5s linear forwards;
  -o-animation:      half-round .5s linear forwards;
  animation:         half-round .5s linear forwards;
}

@keyframes half-round {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.round {
  width: 13%;
  position: absolute;
  top: 75%;
  left: -13%;
  -webkit-animation: round 1s linear forwards;
  -moz-animation:    round 1s linear forwards;
  -o-animation:      round 1s linear forwards;
  animation:         round 1s linear forwards;
}

@keyframes round {
  0% { transform: scale(0); }
  25% { transform: scale(0); }
  50% { transform: scale(0); }
  100% { transform: scale(1); }
}

.sky {
  position: relative;
  width: 100%;
  margin-top: 20px;
  -webkit-animation: sky 1.5s linear forwards;
  -moz-animation:    sky 1.5s linear forwards;
  -o-animation:      sky 1.5s linear forwards;
  animation:         sky 1.5s linear forwards;
}

@keyframes sky {
  0% { transform: scale(0); }
  25% { transform: scale(0); }
  50% { transform: scale(0); }
  75% { transform: scale(0); }
  100% { transform: scale(1); }
}

.sky-text {
  width: 72%;
  position: absolute;
  top: 45px;
  left: 75px;
  -webkit-animation: scale-in 2s linear forwards;
  -moz-animation:    scale-in 2s linear forwards;
  -o-animation:      scale-in 2s linear forwards;
  animation:         scale-in 2s linear forwards;
}

@keyframes scale-in {
  0%{ transform: scale(0); }
  50% { transform: scale(0); }
  75% { transform: scale(0); }
  100% { transform: scale(1); }
}

.hide { display: none; }

@media screen and (max-width: 767px) {
  #progressbar-container {
    height: 400px;
    padding-top: 10%;
    transform: rotate(-90deg);
  }

  .proggress,
  .progressBlade .image {
    display: inline-block;
    vertical-align: top;
  }

  .progressBlade { width: 70%; }

  .percentCount {
    margin-top: 33px;
    transform: rotate(90deg);
  }

  .progressName { transform: rotate(90deg); }

  .progressbar .image {
    max-width: 120px;
    max-height: 120px;
    width: 10%;
    display: inline-block;
    transform: rotate(90deg) translateY(-10px);
  }

  .progressbar .image img {
    max-width: 120px;
    max-height: 120px;
    width: 100px;
  }

  #progressbar0 .wheels {
    margin: 0 auto;
  }

}