@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */

@font-face {
    font-family: EconSansBol;
    src: url(../fonts/econsans/EconSansBol.otf),
       url(../fonts/econsans/EconSansBol.ttf),
       url(../fonts/econsans/EconSansBol.eot),
       url(../fonts/econsans/EconSansBol.svg),
       url(../fonts/econsans/EconSansBol.woff);
  }

  @font-face {
    font-family: EconSansCnd-Light;
    src: url(../fonts/econsans/EconSansCnd-Light.otf),
       url(../fonts/econsans/EconSansCnd-Light.ttf),
       url(../fonts/econsans/EconSansCnd-Light.eot),
       url(../fonts/econsans/EconSansCnd-Light.svg),
       url(../fonts/econsans/EconSansCnd-Light.woff);
  }

  @font-face {
    font-family: EconSansOS-Light;
    src: url(../fonts/econsans/EconSansOS-Light.otf),
       url(../fonts/econsans/EconSansOS-Light.ttf),
       url(../fonts/econsans/EconSansOS-Light.eot),
       url(../fonts/econsans/EconSansOS-Light.svg),
       url(../fonts/econsans/EconSansOS-Light.woff);
  }

  @font-face {
    font-family: EconSansXBol;
    src: url(../fonts/econsans/EconSansXBol.otf),
       url(../fonts/econsans/EconSansXBol.ttf),
       url(../fonts/econsans/EconSansXBol.eot),
       url(../fonts/econsans/EconSansXBol.svg),
       url(../fonts/econsans/EconSansXBol.woff);
  }

  @font-face {
    font-family: EconSansReg;
    src: url(../fonts/econsans/EconSansReg.otf),
       url(../fonts/econsans/EconSansReg.ttf),
       url(../fonts/econsans/EconSansReg.eot),
       url(../fonts/econsans/EconSansReg.svg),
       url(../fonts/econsans/EconSansReg.woff);
  }

  @font-face {
    font-family: EconSansLig;
    src: url(../fonts/econsans/EconSansLig.otf),
       url(../fonts/econsans/EconSansLig.ttf),
       url(../fonts/econsans/EconSansLig.eot),
       url(../fonts/econsans/EconSansLig.svg),
       url(../fonts/econsans/EconSansLig.woff);
  }

  @font-face {
    font-family: EconSansMed;
    src: url(../fonts/econsans/EconSansMed.otf),
       url(../fonts/econsans/EconSansMed.ttf),
       url(../fonts/econsans/EconSansMed.eot),
       url(../fonts/econsans/EconSansMed.svg),
       url(../fonts/econsans/EconSansMed.woff);
  }


* { box-sizing: border-box; } 

a {
  color: #111;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.2s;
}

img { display: block; }

ul li { list-style: none; }

.uppercase { text-transform: uppercase; }

.capitalize { text-transform: capitalize; }

.wrapper {
  width: 86%;
  max-width: 1440px;
  margin: 0 auto;
}

 body {
  font-family: EconSansReg!important;
  line-height: normal;
 }

h1,h2,h3,h5 { color: #39393a; }


 h3 {
   margin-bottom: 20px;
   font-family: EconSansReg;
   font-size: 60px;
   line-height: 64px;
   text-transform: uppercase; 
 }

.common-text-style {
  color: #39393a;
  font-family: EconSansReg;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}

.infographic-content-section { margin-top: 55px; }

.infographic-content-section .wrapper {
  padding-top: 34px;
  position: relative;
}

.infographic-content-section .wrapper:after {
  content: "";
  padding: 4px 0;
  width: 4.6%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #39393a;
}

.hide { display: none !important; }


/*==========================================================================
  Header section starts here
============================================================================*/

.page-header {
  margin-top: 80px; 
  position: relative;
}

.page-header h1 {
  font-size: 20px; 
  text-align: left;
}

.page-header h1 span { display: block; }
.page-header h1 a { display: inline-block; }

.page-header h1 img {
  width: 90%;
  height: 70px;
  margin-top: 20px;
}

/*==========================================================================
  Header section ends here
============================================================================*/



/*==========================================================================
  Banner section starts here
============================================================================*/

.banner {
  padding-top: 40px;
  margin-top: 40px; 
}

.banner-content {
  width: 58%;
  display: inline-block;
  vertical-align: top;
}

.banner-content .common-text-style { width: 79%; }

h2 {
  width: 73%;
  margin-bottom: 17px;
  font-size: 85px;
  font-family: EconSansReg;
  line-height: 88px;
  text-transform: uppercase;
}

.sub-text {
  width: 98%;
  margin-bottom: 31px;
  color: #1f5f76;
  font-family: EconSansReg;
  font-size: 40px;
  word-spacing: -3px;
}

.banner-image {
  width: 42%;
  padding-top: 19%;
  float: right;
  position: relative;
  overflow: hidden;
}

.banner-image img { width: 100%; }
.building { display: none; }

.lightning {
  display: inline-block; 
  position: absolute;
  transform: scale(0);
}

.anim-lightning {
  -webkit-animation: lightning 0.3s linear forwards;
  -moz-animation:    lightning 0.3s linear forwards;
  -o-animation:      lightning 0.3s linear forwards;
  animation:         lightning 0.3s linear forwards;
}

.lightning-left {
  width: 15%;
  z-index: -1;
  top: 47%;
  left: 12%; 
}

.lightning-middle {
  width: 24%;
  top: 0;
  left: 35%;
}

@keyframes lightning {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.lightning-right {
  width: 17%;
  top: 30%;
  right: 2%;
}

.electric-vehicle {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.car-to-left {
  width: 15%;
  right: 85%;
}

.car-left { 
  -webkit-animation: car-left 2s infinite linear;
  -moz-animation:    car-left 2s infinite linear;
  -o-animation:      car-left 2s infinite linear;
  animation:         car-left 2s infinite linear; 
}

@keyframes car-left {
  from { right: 0%; }
  to { right: 100%; }
}

.car-to-right {
  width: 20%;
  left: 20%;
}

.car-right {
  -webkit-animation: car-right 2s infinite linear;
  -moz-animation:    car-right 2s infinite linear;
  -o-animation:      car-right 2s infinite linear;
  animation:         car-right 2s infinite linear;
}

@keyframes car-right {
  from { left: 0; }
  to { left: 100%; }
}

.tempo-to-right {
  width: 22%;
  left: 65%;
}

.tempo-right {
  -webkit-animation: tempo-right 2s infinite linear;
  -moz-animation:    tempo-right 2s infinite linear;
  -o-animation:      tempo-right 2s infinite linear;
  animation:         tempo-right 2s infinite linear;
}

@keyframes tempo-right {
  from { left: 30%; }
  to { left: 130%; }
}

.electric-vehicle img { width: 100%; }

/*==========================================================================
  Banner section ends here
============================================================================*/



/*==========================================================================
  Government section starts here
============================================================================*/

.government .wrapper:after { top: 20px; }

.government .wrapper {
  padding-top: 55px;
  overflow: hidden;
}

.government-description {
  width: calc(70% - 5px);
  display: inline-block;
  vertical-align: top;
}

.government-description .common-text-style { width: 89%; }

.hand-money-bank-image {
  width: calc(30% - 5px);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.hand-image {
  width: 60%;
  position: absolute;
  z-index: 1;
  top: -13%;
  right: 5%;
}

.hand-drop {
  -webkit-animation: hand-drop 1.2s linear;
  -moz-animation:    hand-drop 1.2s linear;
  -o-animation:      hand-drop 1.2s linear;
  animation:         hand-drop 1.2s linear;
}

@keyframes hand-drop {
  0% {
    right: -50%; 
    transform:rotate(10deg);
  }
  80% {
    top: -12%;
    transform:rotate(10deg);
  }
  85% {
    top: -5%;
    right: 5%;
    transform: translate(0);
  }
  100% {
    top: -5%;
    right: 5%; 
    transform:rotate(0);
  }
}

.hand-image img { width: 100%; }

.money-bank-image {
  width: 50%;
  margin: 26.5% auto 0;
}

.money-bank-image img { width: 100% }

.government ul {
  margin-top: 41px;
  text-align: center;
}

.government ul li {
  margin-right: 8%;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center; 
}

.government ul li:first-child { margin-left: 0; }
.government ul li:last-child { margin-right: 0; }

h4 {
  width: 86%;
  margin: 0 auto;
  color: #1f5f76; 
  font-family: EconSansReg;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.electric-vehicles h4 {
  width: 90%;
  margin-bottom: 21.7%;
}

.electric-vehicles .offering-image { width: 72%; }

.plugable-vans h4 {
  width: 35%;
  margin-bottom: 10%;
}

.charge-points h4 { margin-bottom: 11%; }
.offering-stats img { margin: 0 auto; }
.electric-vehicles { width: 18%; }
.plugable-vans { width: 25.33%; }
.charge-points { width: 28%; }

.border-line {
  border-bottom: 1px solid #A71E34;
  margin: 0 auto;
}

.offering-image,
.offering-stats {
  width: 51%;
  margin: 0 auto;
}

.offering-stats {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.offering-stats img { max-height: 0; }

.offering-stats-triangle figure img {
  -webkit-animation: triangle-emerge 2s forwards;
     -moz-animation: triangle-emerge 2s forwards;
       -o-animation: triangle-emerge 2s forwards;
          animation: triangle-emerge 2s forwards;
}

@keyframes triangle-emerge {
  0% { max-height: 0; }
  100% { max-height: 500px; }
}

.offering-stats .figure {
  position: absolute; 
  top: 15px;
  left: 50%;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  transform: translateX(-50%);
  opacity: 0;
}

.show-figure {
  -webkit-animation: showfigure 1s forwards;
  -moz-animation: showfigure 1s forwards;
  -o-animation: showfigure 1s forwards;
  animation: showfigure 1s forwards;
}

@keyframes showfigure {
  90% { opacity: 0; }
  100% { opacity: 1; }
}

.offering-stats sup {
  margin-left: 4px;
  font-size: 16px;
}

.government ul li figure { position: relative; }

.wheel {
  width: 96% !important;
  margin-top: -13%;
  margin-left: 2.3%;
}

.offering-van { margin-top: -15%; }

.car {
  position: relative;
  z-index: -1;
}

.electric_car_chargable {
  -webkit-animation: electric_car_chargable .5s infinite linear;
  -moz-animation:    electric_car_chargable .5s infinite linear;
  -o-animation:      electric_car_chargable .5s infinite linear;
  animation:         electric_car_chargable .5s infinite linear;
}


@keyframes electric_car_chargable {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2.4%); }
  100% { transform: translateY(0); }
}

.electric_car {
  -webkit-animation: car .5s infinite linear;
  -moz-animation:    car .5s infinite linear;
  -o-animation:      car .5s infinite linear;
  animation:         car .5s infinite linear;
}

@keyframes car {
  0% { transform: translateY(-2.5%); }
  50% { transform: translateY(0); }
  100% { transform: translateY(-2.5%); }
}

.van {
  -webkit-animation: van .5s infinite linear;
  -moz-animation:    van .5s infinite linear;
  -o-animation:      van .5s infinite linear;
  animation:         van .5s infinite linear;
}

@keyframes van {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2.8%); }
  100% { transform: translateY(0); }
}

.offering-image img,
.offering-stats img {
  width: 100%;
}

/*==========================================================================
  Government section ends here
============================================================================*/



/*==========================================================================
  Exhaust Emission section starts here
============================================================================*/

.exhaust-emission h3 { width: 569px; }


/*ill-health section start here*/

.ill-health {
  width: 50%;
  padding-right: 6%;
  display: inline-block;
  vertical-align: top;
}

.early-deaths-per-year{ position: relative;}
.cloud { display: inline-block; }
.mobile { display: none; }

.sky {
  width: 100%;
  margin-top: 4.5%;
  position: relative;
}

.sky-anime {
  -webkit-animation: sky 2s linear forwards;
  -moz-animation:    sky 2s linear forwards;
  -o-animation:      sky 2s linear forwards;
  animation:         sky 2s linear forwards;
}

@keyframes sky {
  0% { transform: scale(0); }
  25% { transform: scale(0); }
  50% { transform: scale(0); }
  75% { transform: scale(0); }
  100% { transform: scale(1); }
}

.sky-text {
  width: 72%;
  position: absolute;
  top: 15%;
  left: 15%;
}

.anime-sky-text {
  -webkit-animation: scale-in 2.5s linear forwards;
  -moz-animation:    scale-in 2.5s linear forwards;
  -o-animation:      scale-in 2.5s linear forwards;
  animation:         scale-in 2.5s linear forwards;
}

@keyframes scale-in {
  0%{ transform: scale(0); }
  50% { transform: scale(0); }
  75% { transform: scale(0); }
  90% { transform: scale(0); }
  100% { transform: scale(1); }
}

.half-round {
  width: 11%;
  position: absolute;
  top: 85%;
  left: -25%;
}

.half-round-anime {
  -webkit-animation: half-round .5s linear forwards;
  -moz-animation:    half-round .5s linear forwards;
  -o-animation:      half-round .5s linear forwards;
  animation:         half-round .5s linear forwards;
}

@keyframes half-round {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.round {
  width: 14%;
  position: absolute;
  bottom: 0;
  left: -13%;
}

.anime-roud {
  -webkit-animation: round 1.5s linear forwards;
  -moz-animation:    round 1.5s linear forwards;
  -o-animation:      round 1.5s linear forwards;
  animation:         round 1.5s linear forwards;
}

@keyframes round {
  0% { transform: scale(0); }
  25% { transform: scale(0); }
  50% { transform: scale(0); }
  100% { transform: scale(1); }
}

/*ill-health section ends here here*/

/*air-poulltion-graph-container section starts here*/

.polution-stats {
  width: 50%;
  padding-left: 2%;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
}

#air-poulltion-graph-container {
  height: 300px;
  overflow: unset;
}

#air-poultion-graph rect { fill: #116074; }

.air-graph-wrapper {
  width: 90%;
  height: 230px;
  margin: 0 auto;
  position: relative;
}

.bar {
  max-height: 0;
  width: 28%;
  margin-right: 20px;
  margin-left: -5px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  background-color: #1f5f76;
  text-align: center;
  vertical-align: bottom;
}

.bar:first-child { margin-left: 0; }

.bar-year {
  width: 100%;
  position: absolute;
  bottom: -35px;
  color: gray;
  font-size: 18px;
  text-align: center;
}

.bar0 { height: 2px; }

.bar1 {
  height: 60px;
  left: 37%;
}

.bar2 {
  height: 200px;
  left: 74%;
}

.bar-label {
  width: 100%;
  position: absolute;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.bar0 .bar-label {
  top: -35px;
  color: #39393a;
}

.bar1 .bar-label,
.bar2 .bar-label {
  top: 10px;
  color: #fff;
}

.anime-bar {
  -webkit-animation: graphAnimate 5s forwards;
  -moz-animation: graphAnimate 5s forwards;
  -o-animation: graphAnimate 5s forwards;
  animation: graphAnimate 5s forwards;
}

@keyframes graphAnimate {
  from { max-height: 0; }
  to { max-height: 500px; }
}

#air-poultion-graph .value-text {
  fill: #000;
  font: 24px sans-serif;
  text-anchor: end;
}

.year-text {
  fill: #989898;
  font: 20px sans-serif;
  text-anchor:start;
}

/*air-poulltion-graph-container section ends here*/


/*==========================================================================
  Exhaust Emission section ends here
============================================================================*/



/*==========================================================================
  Save Costs section starts here
============================================================================*/

#progressbar-container { margin-top: 40px; }
.progressbars { margin-top: 15px; }
.progressbar { background-color: #fff !important; }

.progressName,
.progressBlade {
  margin-left: -5px;
  display: inline-block;
  vertical-align: middle;
}

.progressBlade { width: 80%; }

.progressName {
  width: 18%;
  margin-right: 2%;
  color: #096275;
  font-size: 22px;
  font-weight: 700;
}

.progressName sup { font-size: 12px; }

.percentCount {
  margin-top: 12px;
  margin-right: 18px;
  color: #fff;
  font-family: EconSansReg !important;
  font-size: 24px;
  font-weight: 500;
}

.save-costs h3 { width: 560px; }

.save-cost-description {
  width: 57%;
  margin-right: calc(12% - 5px);
  display: inline-block;
}

.save-cost-car-image {
  width: 30.5%; 
  display: inline-block;
}

.save-cost-car-image li {
  width: 22%;
  display: inline-block;
}

.save-cost-car-image li:not(:last-child) { margin-right: calc(4% - 5px); }
.save-cost-car-image li figure img { width: 100% }

.dark-blue-car {
  -webkit-animation: dark-blue-car .5s infinite linear;
  -moz-animation:    dark-blue-car .5s infinite linear;
  -o-animation:      dark-blue-car .5s infinite linear;
  animation:         dark-blue-car .5s infinite linear;
}

@keyframes dark-blue-car {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5%); }
  100% { transform: translateY(0); }
}

.red-car {
  -webkit-animation: red-car .5s infinite linear;
  -moz-animation:    red-car .5s infinite linear;
  -o-animation:      red-car .5s infinite linear;
  animation:         red-car .5s infinite linear;
}

@keyframes red-car {
  0% { transform: translateY(-5%); }
  50% { transform: translateY(0); }
  100% { transform: translateY(-5%); }
}

.green-car {
  -webkit-animation: green-car .5s infinite linear;
  -moz-animation:    green-car .5s infinite linear;
  -o-animation:      green-car .5s infinite linear;
  animation:         green-car .5s infinite linear;
}

@keyframes green-car {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5%); }
  50% { transform: translateY(0);}
  50% { transform: translateY(-5%);}
  100% { transform: translateY(0); }
}

.blue-car {
  -webkit-animation: blue-car .5s infinite linear;
  -moz-animation:    blue-car .5s infinite linear;
  -o-animation:      blue-car .5s infinite linear;
  animation:         blue-car .5s infinite linear;
}

@keyframes blue-car {
  0% { transform: translateY(-5%); }
  25% { transform: translateY(0); }
  50% { transform: translateY(-5%);}
  50% { transform: translateY(0);}
  100% { transform: translateY(-5%); }
}

.dark-blue-wheel {
  width: 98% !important;
  margin: 0 auto;
}

.red-wheel {
  width: 94% !important;
  margin: 0 auto;
}

.car-green-blue { margin-bottom: -13%; }

.wheel-green-blue {
  width: 94% !important;
  margin: 0 auto;
}

/*==========================================================================
  Save Costs section ends here
============================================================================*/



/*==========================================================================
  On The Road section starts here
============================================================================*/

.on-the-road {
  padding-bottom: 12%;
  margin-top: 64px;
}

.on-the-road-content {
  position: relative;
  z-index: 1;
}

.on-the-road-info { width: 65%; }
.on-the-road ul { width: 36%; }

.on-the-road ul li {
  width: calc(75% - 5px);
  display: inline-block;
  vertical-align: top;
}

.line-indicator-vehicle li:first-child {
  width: 20%;
  margin-right: 5%;
}

.line-indicator-vehicle { margin-top: 42px; }
.line-indicator-vehicle li:last-child { vertical-align: bottom; }
.line-indicator-vehicle li:first-child figure { width: 100%; }
.line-indicator-fuel { margin-top: 27px; }
.line-indicator-fuel li { vertical-align: top; }
.line-indicator-fuel li:first-child { width: 25%; }
.line-indicator-fuel li:last-child { margin-top: 8%; }

.line-indicator-fuel li:first-child figure {
  width: 60%; 
  margin: 0 auto;
}

.on-the-road ul li figure img { width: 100%; }

.on-the-road .charging-point-info {
  width: 24%;
  margin-top: 28px;
}

.on-the-road-graph {
  position: absolute;
  z-index: -1;
  top: 34px;
}

.on-the-road-graph .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.anime-on-the-road-graph .overlay { animation: reveal 3s forwards; }

@keyframes reveal {
  from { left: 0; }
  to { left: 100%; }
}

.on-the-road-graph img { width: 100%; }

/*==========================================================================
  On The Road section ends here
============================================================================*/



/*==========================================================================
  Consumer Desire section starts here
============================================================================*/

.consumer-desire { margin-top: 61px; }
.consumer-desire .image-container { position: relative; }

.consumer-desire .grayed-out {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.anime-consumer-desire .grayed-out { animation: show-desire 3s forwards; }
.grayed-out img { max-height: 100%; }

@keyframes show-desire {
  from { max-height: 600px; }
  to { max-height: 0; }
}

.consumer-desire img { width: 100%; }

.desire-overview,
.desire-stats {
  width: 33.33%;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
}

.desire-overview { margin-left: 0; }
.consumer-info { width: 80%; }
.desire-stats { padding: 0 3%; }
.desire-stats:last-child { padding: 0 1% 0 5%; }

.desire-stats .common-text-style {
  margin-top: 20px;
  font-size: 21px;
}

.desire-percent {
  color: #39393a;
  font-size: 45px;
  font-weight: 600;
}

.count-69 .desire-percent {
  position: absolute;
  top: 13%;
}

.count-86 .desire-percent {
  position: absolute;
  top: -7%;
}

/*==========================================================================
  Consumer Desire section ends here
============================================================================*/



/*==========================================================================
  Sources section starts here
============================================================================*/

.sources {
  padding: 50px 0;
  margin-top: 50px; 
  background-color: #f6f5f6;
}

.sources h5 {
  margin-bottom: 6px;
  font-family: EconSansReg;
  font-size: 17px;
  text-transform: uppercase; 
}

.sources ol {
  margin-left: 14px;
  word-break: break-all;
}

.sources ol li { margin-bottom: 5px; }

.sources a,
.sources span {
  color: #39393a;
  font-family: EconSansReg; 
}

/*==========================================================================
  Sources section starts here
============================================================================*/

@media screen and (max-width: 1024px) {

  .wrapper { width: 90%; }

  h3 {
    font-size: 48px;
    line-height: 54px;
  }

 .common-text-style {
    font-size: 32px;
    line-height: 40px;
  }

  .on-the-road-info {
    margin-top: 30px;
    line-height: 1.7;
  }

  .line-indicator -fuel,
  .line-indicator-vehicle { margin-top: 3%; }
  .infographic-content-section .wrapper:after { width: 10.6%; }

}

@media screen and (min-width: 996px) {
  .sources ol li a:hover { text-decoration: underline; }
}

@media screen and (max-width: 995px) {

  .government { margin-top: 55px; }
  .government li:first-child { margin-right: 50%; }
  .government .plugable-vans { margin-right: 6%; }
  .plugable-vans .offering-image { margin-top: 42px; }

  .plugable-vans,
  .charge-points {
    margin-top: 15%;
  }

  .government ul { text-align: left; }

  .government-description {
    width: 100%;
    display: block;
  }

  .government-description h3 { width: 70%; }

  .hand-money-bank-image {
    position: absolute;
    right: 6%;
  }

  .hand-image {
    width: 80%;
    top: -13%;
    right: -10%;
  }

  @keyframes hand-drop {
    0% {
      right: -50%;
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(10deg);
    }
    100% {
      right: -10%;
      transform: rotate(0);
    }
  }

  .money-bank-image { width: 75%; }
  .electric-vehicles { width: 33%; }

  .plugable-vans {
    width: 44%;
    margin-right: 6%;
    transform: translateX(5%);
  }

  .charge-points {
    width: 50%;
    transform: unset;
  }

  .government ul li:first-child h4 { width: 142px; }
  .government ul li:nth-child(2) h4 { width: 155px; }

  .government ul li:nth-child(3) h4 {
    width: 99px;
    margin-bottom: 11.5%;
  }

  .government ul li:last-child h4 { width: 233px; }
  .offering-stats .figure { font-size: 24px; }

  .sources a,
  .sources span {
    color: #39393a;
    font-family: EconSansReg;
  }

  .banner .wrapper { overflow-x: hidden; }
  .banner-content { width: 100%; }

  h2 { width: 76%; }

  .sub-text,
  .banner-content .common-text-style {
    width: 100%;
  }

  .banner-image {
    width: 100%;
    margin-top: 16%;
    overflow: unset;
  }

  .building-big { display: none; }

  .building {
    width: 50% !important;
    display: block;
    float: right;
  }

  .lightning-left {
    width: 10%;
    top: 40.5%;
    left: 61%;
  }

  .lightning-middle {
    width: 15%;
    top: -9%;
    right: 4%;
    left: unset;
  }

  .lightning-right { display: none; }
  .wrapper { width: 90%; }

  h3 {
    font-size: 48px;
    line-height: 54px;
  }

 .common-text-style {
   font-size: 32px;
   line-height: 40px;
 }

 .infographic-content-section .wrapper:after { width: 10.6%; }

 .ill-health,
 .polution-stats {
   width: 100%;
  }

  .early-deaths-per-year{
    width: 90%;
    margin: 0 0 50px 8%;
  }

  .air-graph-wrapper { height: 222px }
  .exhaust-emission h3 { width: 78%; }
  .desktop { display: none; }
  .mobile { display: block; }

  .round { 
    width: 11%;
    left: -1% 
  }

  .sky-text {
    width: 64%;
    top: 14%;
    left: 24%;
  }

  .small-round {
    width: 8%;
    position: absolute;
    top: 93%;
    left: -10%;
    -webkit-animation: half-round .5s linear forwards;
    -moz-animation:    half-round .5s linear forwards;
    -o-animation:      half-round .5s linear forwards;
    animation:         half-round .5s linear forwards;
   }

  .sky {
    width: 90%;
    margin-left: 11%;
  }

  .desire-overview {
    width: 100%;
    display: block;
  }

  .desire-stats { 
    width: 46%;
    padding: 0;
    margin-top: 60px;
    margin-right: -4px;
    margin-left: unset;
  }

  .desire-stats:last-child {
    padding: 0; 
    margin-left: 8%;
  }

  .ill-health {
    padding-right: unset;
    margin-right: unset;  
  }

  .save-costs h3 { width: 78%; }
  .desire-overview p {width: 100%; }
  .on-the-road h3 { margin-bottom: unset; }
  .government-description .common-text-style { width: 100%; }
  .on-the-road-info { width: 100%; }

  .on-the-road-graph {
    position: relative; 
    display: block;
  }

  .on-the-road .charging-point-info { width: 100%; }
  .on-the-road ul { width: 72%; }
  #air-poulltion-graph-container { padding-top: 45px; }

  .bar-label {
    margin-top: -45px;
    color: #000 !important; 
  }

  .bar0 .bar-label { margin-top: initial; }
  .on-the-road { padding-bottom: 0; }
  .on-the-road img { height: auto !important; }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  #progressbar-container { min-height: 380px; }

  .progressName {
    width: 100%;
    display: block;
  }

  .progressBlade { width: 100%; }
}

@media screen and (max-width: 768px) {

  .government-description h3 { width: 100%; }
  .government ul li { position: relative; }
  .plugable-vans .offering-image { margin-top: 99px; }

  .government ul li h4 {
    position: absolute;
    left: 50%;
    font-size: 20px;
    line-height: 20px;
    transform: translateX(-50%);
  }

  .government .offering-stats .figure { font-size: 30px; }

  h1 { font-size: 25px; }
  .offering-image { margin-top: 100px; }
  .government ul li:first-child h4 { width: 66%; }
  .government ul li:nth-child(2) h4 { width: 80%; }
  .government ul li:last-child h4 { width: 80%; }
  .offering-stats .figure { font-size: 18px; }

  .on-the-road-info {
    margin-top: 10px;
    line-height: 1.5;
  }

  .infographic-content-section .wrapper:after { width: 14.6%; }

  .save-cost-description {
    width: 100%; 
    margin-right: unset;
  }
  
  .electric-vehicles .offering-stats img,
  .electric-vehicles .border-line {
    width: 90%;
  }

}

@media screen and (max-width: 767px) {

  .banner .wrapper { padding-top: 10px; }

  h2 {
    width: 221px;
    font-size: 40px;
    line-height: 36px;
  }

  .sub-text { font-size: 26px; }

  #progressbar-container {
    height: 400px ;
    transform: rotate(-90deg) translateY(0);
  }

  #progressbar3 { margin-top: 6%; }
  .progressbars { margin-top: 8%; }

  .proggress,
  .progressBlade .image {
    display: inline-block;
    vertical-align: top;
  }

  .progressBlade { width: 70%; }

  .percentCount {
    margin-top: 22px;
    font-size: 14px;
    transform: rotate(90deg);
  }

  .progressName {
    font-size: 14px;
    transform: rotate(90deg) translateX(10%);
  }

  #progressbar3 .progressName { transform: rotate(90deg) translate(10%,23%); }

  .progressbar .image {
    max-width: 120px;
    max-height: 120px;
    width: 10%;
    display: inline-block;
    transform: rotate(90deg) translate(1%,-10px);
  }

  .progressbar .image img {
    max-width: 120px;
    max-height: 120px;
    width: 50px;
  }

  #progressbar0 .car { animation: dark-blue-car 0.5s infinite; }
  #progressbar1 .car { animation: red-car 0.5s infinite; }

  #progressbar2 .car {
    margin-bottom: -7px;
    animation: green-car 0.5s infinite;
  }

  #progressbar3 .car {
    margin-bottom: -7px;
    animation: blue-car 0.5s infinite;
  }

  .progressbar .image .wheels {
    width: 48px;
    margin-left: 1px;
  }

  #progressbar1 .wheels {
    width: 47px;
    margin-left: 2px;
  }

  .progressName { margin-right: initial; }

  h3 {
    font-size: 34px;
    line-height: 38px;
  }

  .common-text-style {
    font-size: 26px;
    line-height: 30px;
  }

  .exhaust-emission h3,
  .save-costs h3 { width: 100%; }

  .plugable-vans,
  .charge-points {
    margin-top: 25px;
  }

  .on-the-road ul { width: 100%; }
  .on-the-road ul li p { font-size: 21px; }
  .progressName { width: 65px; }
  .progressbar .image { margin-top: 2%; }

}

@media screen and (max-width: 580px) {

  .line-indicator-vehicle { margin-top: 15px; }
  .line-indicator-fuel { margin-top: 15px; }

}

@media screen and (max-width: 568px) {
  .progressbar .image { margin-top: 1.5%; }
}

@media screen and (max-width: 540px) {

  .government ul li:first-child h4 { width: 90%; }

  .government .offering-stats .figure {
    top: 8px;
    font-size: 20px;
  }

  .figure sup { font-size: 10px; }
  .desire-percent { font-size: 25px; }
  .bar-label { font-size: 16px; }

  .electric-vehicles .offering-stats img,
  .electric-vehicles .border-line {
    width: 85%;
  }

}

@media screen and (max-width: 420px) {
  .progressbar .image { margin-top: initial; }
}

@media screen and (max-width: 360px) {

  #progressbar-container { transform: rotate(-90deg) translateY(0); }
  .progressbar .image { transform: rotate(90deg) translate(-20%, -10px); }
  .government ul li h4 { font-size: 18px; }
  .government .offering-stats .figure { font-size: 18px; }
  .percentCount { margin-top: 19px; }
  #progressbar3 { margin-top: 3%; }
  .progressbars { margin-top: 7%; }

}


/*Hamburger menu styling*/

.menu-tools-container {
  width: 30%;
  padding: 80px 2.5%;
  display: none;
  position: absolute;
  background-color: #eaeae8;
  right: 9%;
  top: 0;
  z-index: 9;
}

.menu > li > a {
  padding: 20px 40px 15px 10px;
  display: block;
  color: #000;
  font-family: EconSansBol, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.menu li a {
  position: relative;
  transition: .2s ease-in;
}

.menu-item a svg,
.menu li button {
  display: none;
}

/*.sub-menu > li:hover ,
.main-navigation .menu > li >  a:hover {
    background-color: #131416;
}*/

.black + .article-content .sponsor-logo { height: 36px; }

.submenu-parent>a:hover::after {
  content: "";
  height: 34px;
  background-image: url(assets/images/right-chevron-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 9.5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.main-navigation li a:hover,
.sub-menu>li>a:hover {
  color: #fff;
  background-color: #131416;
}

.sub-menu>li>a {
  font-family: EconSansReg, Helvetica, Arial, sans-serif;
  padding: 20px 0 15px 20px;
  display: block;
  color: #000;
  font-size: 17px;
  font-weight: 400;
}

.submenu-grandparent .sub-menu { display: none; }
.page-summary-page .summary > a { padding-right: 40px; }
.submenu-grandparent > .sub-menu > li > a { padding-left: 40px; }

.submenu-grandparent>a:before {
  content: "";
  height: 34px;
  background-image: url(assets/images/right-chevron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 9.5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.submenu-grandparent>a:hover::before {
  content: "";
  height: 34px;
  background-image: url(assets/images/right-chevron-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 9.5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sub-menu > li > a { transition: .2s ease-in; }

.menu > li,
.menu > li > .sub-menu > li,
.submenu-grandparent > .sub-menu > li {
  border-bottom: 1px solid #c4c3c1;
}

.submenu-parent > .sub-menu,
.submenu-grandparent > .sub-menu {
  border-top: 1px solid #c4c3c1;
}


.submenu-parent > a { border-bottom: none; }

.menu > li > .sub-menu > li:last-of-type,
.submenu-grandparent > .sub-menu > li:last-of-type {
  border-bottom: none;
}


.bars {
  padding: 25px;
  background-color: #131416;
  font-size: 27px;
  position: absolute;
  right: 9%;
  top: 20px;
  background-repeat: no-repeat;
  z-index: 10;
  background-image: url(../images/menu.png);
  background-size: 25px;
  background-position: center;
}

.icon-bars {
  position: relative;
  top: 3px;
}

.icon-close {
  position: relative;
  top: 2px;
}

.close {
  display: none;
  padding: 25px;
  background-color: #131416;
  font-size: 27px;
  position: absolute;
  position: absolute;
  right: 9%;
  top: 20px;
  z-index: 10;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}


.icon-bars,
.icon-close {
  display: none !important;
  fill: #fff;
}

.bars_scroll { top: 10px; }

.sub-menu { display: none; }

blockmenu li>a:after {
  content: "";
  height: 20px;
  background-image: url('../images/right-chevron.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.open:after {
  content: "" !important;
  height: 19px !important;
  background-image: url('../images/down-arrow.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 0 17px !important;
  position: absolute !important;
  right: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.opened:before {
  content: "" !important;
  height: 19px !important;
  background-image: url('../images/down-arrow.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 0 17px !important;
  position: absolute !important;
  right: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.open:hover::after {
  content: "" !important;
  height: 19px !important;
  background-image: url('../images/down-arrow-white.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 0 17px !important;
  position: absolute !important;
  right: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.opened:hover::before {
  content: "" !important;
  height: 19px !important;
  background-image: url('../images/down-arrow-white.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 0 17px !important;
  position: absolute !important;
  right: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.rmchevron:after {
  content: "" !important;
  background-image: url('') !important;
}

.rmchevron:hover::after {
  content: "" !important;
  background-image: url('') !important;
}

.sub-menu li>a:after { display: none; }

.fix { position: fixed; }

.menu { z-index: 100000; }

.navigation_index {
  z-index: 9999;
  top: 69px;
  overflow-y: scroll;
  height: calc(100vh - 150px);
}

.addition_header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 34px 0;
  z-index: 1000000;
  background: #f6f6f8;
  border-bottom: 1px solid #cfcfd4;
}

.addition_header:after {
  /* content: ''; */
  background-image: url(../images/econ_logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 118px;
  display: inline-block;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translateY(-50%);
}

.bars_scroll { top: 10px; }

.to-top {
  display: none;
  padding: 5px 14px;
  border-radius: 50%;
  background-color: #787878;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 15;
}

.to-top i {
  content: '\f106';
  font-family: FontAwesome;
  position: relative;
  /*top: 50%;*/
  /*left: 0;*/
  /*transform: translate(-50%,-50%);*/
}



@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  /*// Your custom CSS goes here*/

  .bars {
    background: url('../images/hamburger.png') no-repeat #131416;
    background-position: center;
  }

  nav .close {
    background: url('../images/close.png') no-repeat #131416;
    background-position: center;
  }
}

@media (max-width: 1024px) {

  .testimonial h5 {
    position: static;
  }

  .full_width .info-window {
    width: 100%;
  }

  .open:after {
    content: "" !important;
    height: 19px !important;
    background-image: url('../images/down-arrow.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 0 17px !important;
    position: absolute !important;
    right: 4px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }

  .open:hover::after {
    content: "" !important;
    height: 19px !important;
    background-image: url(../images/down-arrow.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 0 17px !important;
    position: absolute !important;
    right: 3px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }

  .opened:hover::before {
    content: "" !important;
    height: 19px !important;
    background-image: url('../images/down-arrow.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 0 17px !important;
    position: absolute !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }


  .main-navigation .menu>li>a:hover::after {
    content: "";
    height: 34px;
    background-image: url(assets/images/right-chevron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 9.5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .submenu-grandparent>a:hover::before {
    content: "";
    height: 34px;
    background-image: url(../images/right-chevron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 9.5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  sub-menu>li:hover,
  .main-navigation .menu>li>a:hover {
    background-color: transparent;
  }

  .main-navigation li a:hover,
  .sub-menu>li>a:hover {
    color: #000;
    background-color: transparent;
  }

  .sub-menu>li:hover,
  .main-navigation .menu>li>a:hover {
    background-color: transparent;
  }
}

@media (max-width: 400px) {
  .menu-tools-container {
    width: 100%;
    padding: 20px 4% 0;
    right: 0;
  }

  .navigation_index { height: 100vh; }
}

.white-space-nowrap {
  margin-left: 0 !important;
  white-space: nowrap;
}

