@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */

@font-face {
    font-family: EconSansBol;
    src: url(../fonts/econsans/EconSansBol.otf),
       url(../fonts/econsans/EconSansBol.ttf),
       url(../fonts/econsans/EconSansBol.eot),
       url(../fonts/econsans/EconSansBol.svg),
       url(../fonts/econsans/EconSansBol.woff);
  }

  @font-face {
    font-family: EconSansCnd-Light;
    src: url(../fonts/econsans/EconSansCnd-Light.otf),
       url(../fonts/econsans/EconSansCnd-Light.ttf),
       url(../fonts/econsans/EconSansCnd-Light.eot),
       url(../fonts/econsans/EconSansCnd-Light.svg),
       url(../fonts/econsans/EconSansCnd-Light.woff);
  }

  @font-face {
    font-family: EconSansOS-Light;
    src: url(../fonts/econsans/EconSansOS-Light.otf),
       url(../fonts/econsans/EconSansOS-Light.ttf),
       url(../fonts/econsans/EconSansOS-Light.eot),
       url(../fonts/econsans/EconSansOS-Light.svg),
       url(../fonts/econsans/EconSansOS-Light.woff);
  }

  @font-face {
    font-family: EconSansXBol;
    src: url(../fonts/econsans/EconSansXBol.otf),
       url(../fonts/econsans/EconSansXBol.ttf),
       url(../fonts/econsans/EconSansXBol.eot),
       url(../fonts/econsans/EconSansXBol.svg),
       url(../fonts/econsans/EconSansXBol.woff);
  }

  @font-face {
    font-family: EconSansReg;
    src: url(../fonts/econsans/EconSansReg.otf),
       url(../fonts/econsans/EconSansReg.ttf),
       url(../fonts/econsans/EconSansReg.eot),
       url(../fonts/econsans/EconSansReg.svg),
       url(../fonts/econsans/EconSansReg.woff);
  }

  @font-face {
    font-family: EconSansLig;
    src: url(../fonts/econsans/EconSansLig.otf),
       url(../fonts/econsans/EconSansLig.ttf),
       url(../fonts/econsans/EconSansLig.eot),
       url(../fonts/econsans/EconSansLig.svg),
       url(../fonts/econsans/EconSansLig.woff);
  }

  @font-face {
    font-family: EconSansMed;
    src: url(../fonts/econsans/EconSansMed.otf),
       url(../fonts/econsans/EconSansMed.ttf),
       url(../fonts/econsans/EconSansMed.eot),
       url(../fonts/econsans/EconSansMed.svg),
       url(../fonts/econsans/EconSansMed.woff);
  }


* { box-sizing: border-box; } 

a {
  color: #111;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.2s;
}

img { display: block; }

ul li { list-style: none; }

.uppercase { text-transform: uppercase; }

.capitalize { text-transform: capitalize; }

.wrapper {
  width: 86%;
  max-width: 1440px;
  margin: 0 auto;
}

 body {
  font-family: EconSansReg;
  line-height: normal;
 }

h1,h2,h3 { color: #39393a; }


 h3 {
   margin-bottom: 16px;
   font-family: EconSansReg;
   font-size: 60px;
   line-height: 64px;
   text-transform: uppercase; 
 }

.common-text-style {
  color: #39393a;
  font-family: EconSansReg;
  font-size: 24px;
  line-height: 28px;
}

.infographic-content-section .wrapper {
  padding-top: 34px;
  position: relative;
}

.infographic-content-section .wrapper:after {
  content: "";
  padding: 4px 0;
  width: 4.6%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #39393a;
}


/* Header section starts here */
.page-header { margin-top: 80px; }

.page-header h1 { 
  font-size: 20px; 
  text-align: left;
}

.page-header h1 span { display: block; }

.page-header h1 a { display: inline-block; }

.page-header h1 img {
  width: 90%;
  height: 70px;
  margin-top: 20px;
}

/* Banner section starts here */
.banner { 
  padding-top: 40px;
  margin-top: 40px; 
}

.banner-image { 
  width: 43%; 
  float: right;
  position: relative;
}

.banner-image img { width: 100% }

.electric-vehicle { 
  display: inline-block;
  position: absolute;
  bottom: 0; 
}

.car-to-left { 
  width: 15%;
  left: 0; 
}

.car-to-right { 
  width: 20%;
  left: 26%; 
}

.tempo-to-right {
  width: 22%;
  right: 16%;
}

.electric-vehicle img { width: 100% }

.banner-content {
  width: 57%;
  display: inline-block; 
}

.banner-content .common-text-style { width: 80%; }

h2 {
  margin-bottom: 17px;
  font-size: 85px;
  font-family: EconSansReg;
  line-height: 88px;
  text-transform: uppercase;
}

.sub-text {
  margin-bottom: 31px;
  color: #1f5f76;
  font-family: EconSansReg;
  font-size: 40px;
  word-spacing: -3px;
}

/* Government section starts here */

.government { margin-top: 63px; }

.government-description { 
  width: calc(70% - 5px);
  display: inline-block;
  vertical-align: top;
}

.government-description .common-text-style { width: 91%; }

.hand-money-bank-image { 
  width: calc(30% - 5px);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.hand-image { 
  width: 60%;
  position: absolute;
  z-index: 1;
  top: -19px;
  right: 17px;
}

.hand-image img { width: 100%; }

.money-bank-image { 
  width: 50%;
  margin: 80px auto 0;
}

.money-bank-image img { width: 100% }

.government ul { margin-top: 41px; }

.government ul li { 
  width: calc(25% - 5px);
  display: inline-block;
  vertical-align: top;
  text-align: center; 
}

h4 {
  width: 86%;
  margin: 0 auto 40px;
  color: #1f5f76; 
  font-family: EconSansReg;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.government ul li:first-child h4 { 
  width: 57%; 
  padding-bottom: 23px;
  margin-bottom: 24px;
}

.government ul li:nth-child(2) h4 { 
  width: 58%; 
  padding-bottom: 27px;
  margin-bottom: 28px;
}

.government ul li:nth-child(3) h4 { width: 35%; }

.government ul li:last-child h4 { 
  padding-bottom: 31px;
  margin-bottom: 32px; 
  
}
 
.offering-image { 
  width: 51%; 
  margin: 0 auto;
}

.offering-image img{ width: 100% }
